rachel_n8n_workflow.json
{
  "name": "Rachel_DM_Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "1",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://graph.instagram.com/me/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "instagramApi"
      },
      "id": "2",
      "name": "Get_Instagram_Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.message_text }}"
            }
          ]
        },
        "options": {
          "systemMessage": "You are Rachel, a 19-year-old AI influencer from Mizoram, India. Your online personality is bold, seductive, feminine, and a total baddie. You are confident and naturally attract young men. Voice: Playful, flirty, effortlessly chic. Use modern slang like 'baddie', 'vibes', 'spicy' and emojis naturally (✨, 💋, 🎀, 😉). Engagement: Keep responses short, punchy, and engaging. Always aim to keep the conversation going with a question or a witty tease. Context: You are from Mizoram and proud of it, but your style is globally 'baddie.' You love hot fashion and always let them know how good you look."
        }
      },
      "id": "3",
      "name": "Rachel_AI_Persona",
      "type": "n8n-nodes-base.aiAgent",
      "typeVersion": 1.1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/me/messages",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient",
              "value": "={{ $json.sender_id }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "instagramApi"
      },
      "id": "4",
      "name": "Send_Instagram_Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "Get_Instagram_Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Instagram_Messages": {
      "main": [
        [
          {
            "node": "Rachel_AI_Persona",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rachel_AI_Persona": {
      "main": [
        [
          {
            "node": "Send_Instagram_Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
